# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

#codeblocks
[Bb]in/*  
![Bb]in/data/  
[Bb]uild/  
[Oo]bj/  
*.o  
[Dd]ebug*/  
[Rr]elease*/  
*.mode*  
*.app/  
*.pyc  
*.log  

*.depend  
*.layout  
